root = false

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[{src,scripts}/**.{js,jsx,ts,tsx}]
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.json]
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
