.QrTextForm {
    margin: 0;
    padding: 0;
}

.QrTextForm textarea#content {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 10em;
}

.QrTextForm button[type="submit"] {
    box-sizing: border-box;
    margin-top: 1em;
    width: 100%;
    height: 2em;
    font-size: 125%;
}
